@font-face {
    font-family: "FerroRosso";
    src: url("fonts/ferrorosso-webfont.woff") format("woff"), url("fonts/ferrorosso-webfont.woff2") format("woff2"),
}

body {
    height: auto;
    overflow: clip;
}

.bodydriver {
    background-image: url("images/2022Grid.jpg");
    background-size: cover;
    height: 98vh;
    display: grid;
    grid-template-areas: "menu create create create create" "menu update update update update" "menu main main main main" "menu main main main main" "menu main main main main";
}

.maingridmenu {
    grid-area: menu;
    border: 2px solid black;
    height: 98vh;
    display: grid;
    grid-template-areas: "text" "btn1" "btn2" "btn3" "btn4";
}

.navtext {
    width: 100%;
    grid-area: text;
    height: 60%;
    position: absolute;
    bottom: 35%;
    font-family: FerroRosso;
    font-size: 28px;
    color: white;
}

.navbtn1 {
    grid-area: btn1;
    position: absolute;
    top: 60%;
    left: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(16, 171, 255, 0.3);
}

.navbtn2 {
    grid-area: btn2;
    position: absolute;
    top: 70%;
    left: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(16, 171, 255, 0.3);
}

.navbtn3 {
    grid-area: btn3;
    position: absolute;
    top: 80%;
    left: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(16, 171, 255, 0.3);
}

.navbtn4 {
    grid-area: btn4;
    position: absolute;
    top: 90%;
    left: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(16, 171, 255, 0.3);
}

.maingridcreate {
    grid-area: create;
    border: 2px solid red;
    height: 19.6vh;
}

.maingridupdate {
    grid-area: update;
    border: 2px solid green;
    height: 19.6vh;
    z-index: 2;
}

.maingridmain {
    grid-area: main;
    height: 58.5vh;
    overflow: auto;
}

.bodyteam {
    background-image: url("images/teamwindowbg.jpg");
    background-size: cover;
    height: 100vh;
}

.bodyprinc {
    background-image: url("images/f1teamprincipals.jpg");
    background-size: cover;
    height: 100vh;
}


.center {
    width: 180px;
    height: 60px;
    position: absolute;
}

.btn {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: rgba(16, 171, 255, 0.3);
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}

.btn:hover {
    transition: 1s ease-in-out;
    background: #4F95DA;
}

.btn:hover svg {
    stroke-dashoffset: -480;
}

.btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
}

.create {
    position: absolute;
    left: 50%;
    top: 10%;
}

.update {
    position: absolute;
    left: 50%;
    top: 30%;
}

.smalldelete {
    width: 10.7%;
    height: 6.4%;
    position: absolute;
    top: 10%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(16, 171, 255, 0.3);
}

.smallupdate {
    width: 10.7%;
    height: 6.4%;
    position: absolute;
    top: 10%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(16, 171, 255, 0.3);
}
.inpertuante {
    width: 49.2%;
    height: 20%;
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(44,131,136,0.6138830532212884) 89%, rgba(2,0,36,1) 98%);
    color:white;
}
#updatable{
    display:none;
}
