$base-spacing-unit: 24px;
$half-spacing-unit: $base-spacing-unit / 2;
.table {
    width: inherit;
    border: 1px solid #EEEEEE;
    overflow: scroll;
    overflow-x: hidden;
    height: 58vh;
    z-index: 1;
    grid-area: main;
}

.table-header {
    color:white;
    display: flex;
    width: 100%;
    background: #000;
    padding: ($half-spacing-unit * 1.5) 0;
}

.table-row {
    display: flex;
    width: 100%;
    padding: ($half-spacing-unit * 1.5) 0;

    &:nth-of-type(odd) {
        background: #EEEEEE;
    }

    &:nth-of-type(even) {
        background: rgba(151, 151, 151, 0.7);
    }
}

.table-data, .header__item {
    flex: 1 1 20%;
    text-align: center;
}

.header__item {
    text-transform: uppercase;
}
